<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Analytics</title>
</head>

<body>
    <h1>Data</h1>


    <a href="http://localhost:3000">Add data here!</a>
    <a href="http://localhost:5000">View the analytics here!</a>
    <a href="http://localhost:5533">Update the data here!</a>
    <table class="table">
        <tbody>
            <tr>
                <th scope="col">Max temperature</th>
                <th scope="col">Mean temperature</th>
                <th scope="col">Average temperature</th>
            </tr>
            <tr>
                {% for item in data %}

                <td scope="row">{{item}}</td>

                {% endfor %}
            </tr>
        </tbody>
    </table>

</body>

</html>